.modal__description{
    max-width: 600px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.modal__user {
    max-width: 650px !important;
    border: none !important;
    border-radius: 20px;
}

.modal__user-avatar {
    width: 200px;
    border-radius: 140px;
    border: 2 px solid #8626F0;
}

.bloco_modal__user-avatar {
    display: flex;
    justify-content: center;
}

.modal__paragraf{
    font-size: 15px;
}

.modal__button{
    border-radius: 10px;
}

@media(max-width:768px){
    .modal__use{
        width: 90%;
    }
}